fastapi
uvicorn[standard]
langchain
langchain_openai
langchain_community
langchain_classic
openai
tiktoken
pydantic
requests
python-multipart
pdfplumber
python-docx
pandas
sentence-transformers
faiss-cpu
requests
streamlit
rank_bm25
pinecone-client  # if using Pinecone
weaviate-client  # if using Weaviate